*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h2,
h1,
.testimonial,
h3 {
    font-family: 'Raleway', sans-serif;
}

header {
    padding: 2em 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 7rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding-right: 0.5em;
    opacity: 0.9;
    font-family: 'Raleway', sans-serif;



}

section {
    padding: 3em 0;
}

img {
    max-width: 100%;
}

.section1 {
    background-image: url(bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom -1em right 0;
    background-size: contain;
}

.first-content {
    text-align: center;
    padding: 2em 0;
    line-height: 1.5;
}

.first-content p {
    padding: 1em 0;

}

.form {
    margin: 1em 0;
    text-align: center;
}

#email {
    width: 90%;
    padding: 1em;
    border: 2px solid hsl(0, 0%, 75%);
    border-radius: 0.3em;
}

.prompt {
    display: none;
}

.content-button {
    background: hsl(224, 93%, 58%);
    color: #fff;
    width: 90%;
    padding: 1em;
    margin-top: 0.5em;
    border: none;
    border-radius: 0.3em;
    font-weight: 700;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.125);
}

.section2 {
    background: hsl(240, 75%, 98%);
    line-height: 1.5;
}

.second-content {
    padding: 1em 0;
}

.second-content h3 {
    text-align: center;
    font-weight: 700;
    padding: 0.9em;



}

.detail-content {
    opacity: 0.7;
}

.detail-content p {
    padding: 1em 0;
}




.see-how {
    width: 50%;
    margin: 2em 5em;
    color: hsl(170, 45%, 43%);
    border-bottom: 2px solid currentColor;
    display: flex;
    align-items: center;
    gap: 0.3em;



}

.testimonial {
    margin: 3em 0;
    padding: 2em 1.5em;
    background: #fff;
    font-size: 0.875rem;
    border-radius: 0.3em;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
}


.comment {
    color: hsl(243, 87%, 12%);
    line-height: 1.7;
    font-weight: bold;
    word-spacing: 0.125em;

}

.account-details {
    margin-top: 1em;
    display: flex;
    align-items: center;

    gap: 0.5em;
}

.account-details img {
    border-radius: 50%;
}

.name {
    font-size: 1rem;
    font-weight: 700;
}

.title {
    font-size: 0.75rem;
    color: hsl(243, 87%, 12%);
}

.section3 {
    background: hsl(238, 22%, 44%);
    color: hsl(0, 0%, 75%);
    padding: 3em 0.5em;
}

.third-content {
    text-align: center;
}

.third-content h2 {
    color: #fff;
}

.third-content p {
    padding: 1em 0;
}

::placeholder {
    opacity: 0.25;
}

#mail,
.content--button {
    width: 90%;
    padding: 0.8em;
    border: none;
    border-radius: 0.3em;

}

.content--button {
    color: #fff;
    background: hsl(224, 93%, 58%);
    font-weight: 700;
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
}

footer {
    padding: 2em 0;
    background: hsl(243, 87%, 12%);
    color: hsl(0, 0%, 75%);
}



.message-phone {
    padding: 2em 0;
}

.phone img,
.message img {
    width: 1rem;
    margin-right: 0.5em;

}

.message,
.phone {
    display: flex;
    align-items: center;
}

.phone {
    padding-bottom: 1em;
}

.extra-details ul {
    list-style: none;
    padding: 1em 0;
}

.footer-list {
    padding-bottom: 1em;
}

.footer-link {
    text-decoration: none;
    color: currentColor;

}

.social-icons {
    padding: 2em 0;

    position: relative;
}

.pos {
    position: absolute;

    top: 0.8em;
    right: 33%;
}

.fa-brands {
    color: #fff;
    margin-left: 1em;
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 100%;


}

#email:active,
#email:hover,
#mail:hover,
#mail:active {
    border-color: rgb(171, 85, 85);

}


#email:invalid~.prompt,
#mail:invalid~.prompt {
    display: block;
    font-size: 0.75rem;
    cursor: pointer;
}

.r-color {
    color: red;
}

.w-color {
    color: #fff;
}

.content--button:hover,
.content-button:hover {
    cursor: pointer;
    background: rgb(111, 144, 234);
}

.fa-brands:hover {
    color: hsl(224, 93%, 58%);
    border-color: hsl(224, 93%, 58%);
    cursor: pointer;
}

.footer-link:hover {
    color: hsl(224, 93%, 58%);
}

.see-how:hover {
    color: hsl(162, 67%, 63%);
    opacity: 0.7;
    cursor: pointer;
}


@media (min-width:500px) {

    nav ul li {
        margin-right: 3em;


    }

    .section1 {
        background-image: url(bg-curve-desktop.svg);
        background-repeat: no-repeat;
        background-position: bottom -2.5em right 0;
        background-size: contain;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .section1 {
        padding: 10em 0;
    }

    .content-image {
        width: 50%;
        order: 1;
    }

    .first-content {
        width: 40%;
        text-align: left;
    }

    .first-content h1 {
        font-size: 2.125rem;
    }

    .form {
        text-align: left;
        margin: 0;
    }

    #email {
        width: 60%;
    }

    .content-button {
        width: 30%;
        margin-left: 1em;
    }

    .section2 {
        padding: 2em 0;
    }

    .second-content {
        width: 55%;
    }

    .content-image1 {
        padding-top: 4em;
        width: 40%;
        height: 100%;
        order: 1;
    }

    .second-content h3 {
        font-size: 2.25rem;
        text-align: left;
        padding: 0;
        margin-top: 0;
    }


    .detail-content {
        width: 70%;
        padding: 0;
        /* font-weight: bold; */
        opacity: 1;
    }

    .detail-content p {
        padding-top: 1em;
        padding-bottom: 0;
    }

    .see-how {
        width: 25%;
        margin: 1em 0;
    }

    .testimonial {
        width: 48%;

    }

    .third-content {
        width: 40%;
        text-align: left;
        padding: 0;
    }

    .get-started {
        width: 40%;
    }

    #mail {
        width: 90%;
        padding: 1.2em;
    }

    .content--button {
        width: 40%;
        padding: 1.2em;
    }

    .footer-row {
        display: flex;

    }

    .message-phone {
        width: 40%;
    }

    .extra-details,
    .social-icons {
        width: 20%;
    }
}